.alert {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 15px;
    color: white;
}

.alert-success {
    background-color: #4CAF50;
}

.alert-info {
    background-color: #2196F3;
}

.alert-warning {
    background-color: #FF9800;
}

.alert-danger {
    background-color: #F44336;
}

a {
    text-decoration: none !important;
}

a.app-content-headerButton {
    padding-top: 2px !important;
}

.header-user-name {
    text-align: center !important;
}


/* table style */
.product-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center !important;
}

.product-table th,
.product-table td {
    padding: 12px;
    text-align: center !important;
    font-family: 'Almarai', Courier, monospace;
    border-bottom: 1px solid #e5e5e5;
    font-weight: normal;
}





.product-table th {
    background-color: #0098fb !important;
    color: white !important;
    text-align: center !important;
}

.product-table tbody tr {
    background-color: #f9f9f9;
    text-align: center !important;
}

.product-table tbody tr:hover {
    background-color: #f5f5f5;
}

.moon .product-table tbody tr {
    padding: 12px;
    text-align: center !important;
    font-family: 'Almarai', Courier, monospace;
    border-bottom: 1px solid #e5e5e5;
    font-weight: normal;
    color: white !important;
    background-color: #303030;
}

/* table style */





.product-card {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    direction: rtl;
}

.product-card label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.product-card input[type="text"],
.product-card input[type="number"],
.product-card textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Almarai', Courier, monospace;
}

.product-card button {
    background-color: #0098fb;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Almarai', Courier, monospace;
}